@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 0%;
  --foreground: 240 50% 96%;
  --border: 240 50% 96%;
  --input: 240 50% 96%;
  --ring: 240 50% 96%;
}

body {
  margin: 0;
}
